@CHARSET "UTF-8";

html {
  height: 100%;
}

body {
  font-size: 14px;
}

body.popup {
  width: 250px;
  max-width: 250px;
}

body.authenticated {
  background-image: -webkit-linear-gradient(top, #107D9D 0%, #284F71 100%);
  background-image: linear-gradient(to bottom, #107D9D 0%, #284F71 100%);
}

ul, ol {
  padding: 0;
  margin: 5px 10px;
}


/* popup.html
---------------------------------------*/
.group {
  list-style-type: none;
}

.group_unread_counts {
  padding: 0.15em .6em;
}


/* callback.html
---------------------------------------*/
.authenticated-message {
  width: 500px;
  max-width: 500px;
  margin: 60px;
  padding: 60px 30px;
  text-align: center;
  border-radius: 18px;
  background: #FFF;
}

.btn-authenticated-close {
  margin-top: 20px;
  width: 200px;
}

/* options.html
---------------------------------------*/
.account-list {
  margin: 3px;
}

.account {
  margin-top: 3px;
  margin-bottom: 3px;
}

.account-button-group {
  margin-top: 11px;
}

.account > .account-name {
  margin-top: 7px;
}
